body {
    margin: 3em;
}
body, header, aside, footer, p, h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
	margin-top:5px;
}
img {
    display: none;
}

#map, #map1, #map2, #mapLA, #mapV, #main-menu, #img-menu, #slideshow {
	display: none;
}