@charset "UTF-8";
/*
     CSS Document : Created By Svetoslav & Dustin
     *** All rightsReserved ***
*/
body {
     margin: 0px;
     padding: 0px;
     border: 0px;
     font-family: 'Oswald', sans-serif;
     /* background-color: #f5f5f5; */
}

header {
     width:1100px;
     height: 200px;
     margin-left: auto;
     margin-right: auto;
     border-bottom: 2px solid #b5b5b5;
     margin-bottom: 10px;
}

#logo {
     width: 225px;
     height: 175px;
     margin-top: 10px;
     margin-left: 50px;
}

#main {
     width: 1100px;
     height: auto;
     margin-left: auto;
     margin-right: auto;
     /*border: 1px solid black;*/
     margin-bottom: 10px;
}

#main-content {
     width: 60%;
     height: 350px;
     float: left;
     /*border: 1px dotted black;*/
     margin-top: 70px;
     margin-left: 40px;
}
h1 {
     color: #008FD3;
     padding-left: 20px;
     margin-top: 25px;
}

h2 {
     margin-top: -10px;
     padding-left: 20px;
     font-size: 30px;
     color: #008FD3;
}

p {
     padding-left: 20px;
     padding-right: 20px;
     font-size: 16px;
     color: #848484;
}

#trucker {
     width: 100%;
     height: 200px;
}

#main-image {
     width: 30%;
     height: 350px;
     float: right;
     /*border: 1px dotted black;*/
     margin-top: 70px;
     margin-right: 40px;
}

footer {
     width: 100%;
     height: 200px;
     background-color: #008FD3;
}

#footer-content {
     width: 1100px;
     height: 200px;
     margin-left: auto;
     margin-right: auto;
     /*border: 1px dotted black;*/
}
/*Main menu on all pages exept Home page*/
#main-menu {
     position: relative;
     left: 350px;
     bottom: 90px;
}


#main-menu ul li {
     display: inline-block;
     padding-left: 50px;
}

#main-menu ul li a {
     text-decoration: none;
     color: #848484;
     font-size: 18px;
}

#main-menu ul li a:hover {
     text-decoration: none;
     color: #000000;
}
/*Slogan positionning*/
.slogan {
     font-style: italic;
    color: #1B90D2;
    font-size: 29px;
    position: relative;
    left: 100px;
    bottom: 73px;
    display: inline-block;

}

/*Main menu on Home page with images*/

#img-menu {
	position: relative;
    margin-left: 175px;
	top: -10px;
}
/* trying to ligth up the text ("a") when i hover the img
img.button:hover + a.text {
  color: red;
}
*/

a {
  transition: color 1.5s ease;
}

#img-menu ul li a:hover {
     color:#008FD3;
}

#img-menu ul{
	width: 670px;
}

#img-menu ul li {
    display: inline-block;
    padding-left: 0px;
}

#img-menu ul li a {
    text-decoration: none;
    color: #848484;
    font-size: 18px;
	margin-left: 10px;
}
#img-menu ul li:nth-child(3) a  {
	margin-left: 20px;
}
#img-menu ul li:nth-child(1) a   {
	margin-left: 88px;
}
#img-menu ul li:nth-child(2) a  {
	margin-left: 40px;
}
#img-menu ul li:nth-child(4) a  {
	margin-left: 36px;
}


#img-menu ul li img {
    width: 70px;
	height: 70px;
	padding: 50px 46px 10px 9px;
}

#img-menu ul li:nth-child(1) img {
     padding: 40px 19px 0px 0px;
}
#img-menu ul li:nth-child(2) img {
     padding: 40px 10px 10px 0px;
}
#img-menu ul li:nth-child(3) img {
     padding: 40px 20px 10px 15px;
}
#img-menu ul li:nth-child(4) img {
     padding: 40px 10px 10px 0px;
}

/*SlideShow*/
#slideshow {
	margin-left: 180px;
	height: 406px;

}
#slideshow .mySlides {
     width: 720px;
     height: 406px;
     border-radius: 15px;
}
/* Map integration  */
#map {
     position: relative;
     margin: -120px 20px 20px 30px;
}

/*Footer */
footer {
     margin-left: auto;
     margin-right: auto;
     width: 1100px;
     height: 200px;
     background-color: #008FD3;
     border-radius: 12px;
     padding-top: 30px;
     margin-top: 30px;
}

#footer-content {
     width: 800px;
     height: 200px;
     margin-left: auto;
     margin-right: auto;

     /*border: 1px solid black;*/
}

.careers {
     position: relative;
     top: -260px;
     left: 675px;

}

.contact {
     margin-left: -173px;
     padding-left: 53px;
     padding-top: 10px;
}


#footer-content a {
     text-decoration: none;
     color: black;
     font-size: 22px;

}

#footer-content a:hover {
     color: white;
}

#footer-content p {
     text-decoration: none;
     color: white;
     font-size: 16px;
}
#copyright {
     position: relative;
     top: -100px;
     left: -60px;
     bottom: 40px;
     display: inline-block;
}

#join {
     display: inline-block;
     position: relative;
     top: -155px;
     left: 590px;

}

#fb, #insta{
     width: 100px;
     height: 100px;
}

#insta:hover{
	background-color:navy;
	border-radius: 15px;
     transition: background-color 4s ease;

}
#fb:hover {
     background-color:navy;
	border-radius: 50px;
     transition: background-color 4s ease;
}

#fb {
     position: relative;
     top: -155px;
     left: -325px;
     border-radius: 50%;
}

#insta {
     position: relative;
     top: -275px;
     left: 490px;
}
