body {
     margin: 0px;
     padding: 0px;
     border: 0px;
     font-family: 'Oswald', sans-serif;
}

header {
     width:1100px;
     height: 200px;
     margin-left: auto;
     margin-right: auto;
     border-bottom: 1px solid #b5b5b5;
     margin-bottom: 10px;
}

#coverage-photo {
     width: 900px;
     margin-bottom: -85px;
     margin-left: 100px;

}

#logo {
     width: 225px;
     height: 175px;
     margin-top: 10px;
     margin-left: 50px;
}

#main {
     width: 1100px;
     height: auto;
     margin-left: auto;
     margin-right: auto;
     /*border: 1px solid black;*/
     margin-bottom: 10px;
     padding-bottom: 100px;
     padding-top: 50px;
}

.main-content {
     width: 65%;
     padding-left: 20px;
     padding-right: 20px;
     float: none;
     /*border: 1px dotted black;*/
}

/*Career form design*/

#main-career{
	margin-left: 20px;
}
.in{
	border: 2px solid #008FD3;
	height: 20px;
	width: 200px;
	padding-left: 5px;
}
#main-career textarea{
	border: 2px solid #008FD3;
	padding-left: 5px;
	padding-top: 5px;

}
#main-career button, #calculate{
	border: 2px solid #008FD3;
	height: 50px;
	width: 100px;
	border-radius: 15px;
	background-color: #008FD3;
	color: white;
	font-size: large;
   margin-left: 25px;

}

#main-career button:hover, #calculate:hover{
	background-color: white;
	color: crimson;
}

#careerImg {
	float: right;
	position: relative;
	bottom: 2px;
	top: -493px;
	left: -200px;
	right: 2px;
}

/* Trucking page */
#truckInfo {
   width: 400px;
   height: auto;
   margin-left: 20px;
}

#small, #large{
   width: 460px;
   height: 245px;
   margin-left: 20px;
}
#medium{
   width: 450px;
   height: 330px;
   margin-left: 20px;
}
#moneyTruck1 {
   position: relative;
   top: -160px;
   left: 540px;
   color: #008FD3;
   font-size: 20px;
   font-style: italic;
}
#moneyTruck2 {
   position: relative;
   top: -185px;
   left: 540px;
   color: #008FD3;
   font-size: 20px;
   font-style: italic;
}
#moneyTruck3 {
   position: relative;
   top: -160px;
   left: 540px;
   color: #008FD3;
   font-size: 20px;
   font-style: italic;
}

/*Contact Us page*/
#contactUs {
   margin-left: 20px;
}
#mapLA, #mapV {
   float: right;
   position: relative ;
   top: -255px;
   right: 135px;
}




h2 {
     margin-top: -10px;
     padding-left: 20px;
     font-size: 30px;
     color: #008FD3;
     text-decoration: underline;
}
h3 {
   margin-top: 5px;
   padding-left: 20px;
   font-style: italic;
   color: #008FD3;
   font-size: 22px;

}
h4 {
   text-align: center;
   font-style: italic;
   color: #008FD3;
   font-size: 22px;
}
#recipt img {
   text-align: center;
}

#trucker, #partner {
     float: right;
     height: 200px;
}


footer {
     margin-left: auto;
     margin-right: auto;
     width: 1100px;
     height: 200px;
     background-color: #008FD3;
     border-radius: 12px;
}

#footer-content {
     width: 800px;
     height: 200px;
     margin-left: auto;
     margin-right: auto;
     /*border: 1px solid black;*/
}

.careers {
     position: relative;
     left: 650px;
     bottom: 230px;
}

.contact {
     padding-left: 60px;
}

#footer-content a {
     text-decoration: none;
     color: black;
     font-size: 22px;
}

#footer-content a:hover {
     color: white;
}

#footer-content p {
     text-decoration: none;
     color: white;
     font-size: 16px;
}

#main-menu {
     display: inline-block;
     width: 700px;
     position: relative;
     left: 300px;
     bottom: 85px;
     height: 200px;
}

#main-menu ul li {
     display: inline-block;
     padding-left: 50px;
}

#main-menu ul li a {
     text-decoration: none;
     color: #848484;
     font-size: 18px;
}

#main-menu ul li a:hover {
     text-decoration: none;
     color: #000000;
}
#main-menu ul li a:focus{
	border-bottom: 4px solid #008FD3;
	color: #008FD3;
}


#copyright {
     position: relative;
     left: 140px;
     bottom: 90px;
     display: inline-block;
}

#join {
     display: inline-block;
     position: relative;
     left: 587px;
     bottom: 190px;
}

#fb, #insta{
     width: 100px;
     height: 100px;
}

#insta:hover{
	background-color:navy;
	border-radius: 15px;
     transition: background-color 3.5s ease;

}
#fb:hover {
     background-color:navy;
	border-radius: 50px;
     transition: background-color 3.5s ease;
}

#fb {
     position: relative;
     left: -140px;
     bottom: 135px;
}

#insta {
     position: relative;
     left: -70px;
     bottom: 135px;
}

#menuToggle {
     display: none;
}

/* Estimate Page */

.trucks {
     margin-top: 30px;
     padding-left: 50px;
     margin-left: 100px;
     width: 200px;
     height: 100px;
}

#map1, #map2 {
     width: 400px;
     height: 250px;
     border: 2px solid #008FD3;
     margin-top: 70px;
     margin-left: 50px;
     margin-bottom: -100px;
}

#map1 {
     position: relative;
}

#map2 {
     position: relative;
     left: 646px;
     bottom: 223px;
}

#result {
     /* float: right; */
     font-size: 36px;
     margin-left: 150px;
     margin-top: -55px;
}

#select {
     width: 200px;
     height: 50px;
     margin-left: 50px;
     border: 2px solid #008FD3;
	  border-radius: 8px;
     background-color: #008FD3;
     color: white;
	  font-size: large;
     margin-bottom: 150px;
}
#select:hover{

     color:#008FD3;
     background-color: white;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border: 5px solid #008FD3;
}


p.pad1{
   margin-left: 49px;
   margin-bottom: -50px;
}
span.pad2{
   margin-left: 488px;
}
h4.cargo-type{
   text-align: left;
   margin-left: 25px;
   margin-top: -150px;
}




@media only screen and (orientation: portrait) {
     header {
          width: 100%;
          height: 200px;
          border-bottom: 1px solid #b5b5b5;
          margin-bottom: 10px;
     }

     .main-content {
          width: 100%;
          min-width: 820px;
          height: auto;
          padding-left: 20px;
          padding-right: 10px;
          /*border: 1px dotted black;*/
          font-size: 20px;
          box-sizing: border-box;
     }

     #trucker, #partner  {
          width: 1100px;
          height: 943px;
          /*border: 1px dotted black;*/
          margin-top: 70px;
          display: none;
     }

     footer {
          width: 50%;
          min-width: 820px;
          height: 200px;
          background-color: #008FD3;
          border-radius: 12px;
     }

     h2 {
          font-size: 60px;
     }

     #menu-toggle div {
       display: block;
       width: 33px;
       height: 4px;
       box-sizing: border-box;
       margin-bottom: 5px;
       position: relative;

       background: #cdcdcd;
       border-radius: 3px;

       z-index: 1;
     }
     #menu-toggle {
       display: block;
       position: relative;
       bottom: 100px;
       left: 90%;
       width: 50px;

       z-index: 1;
       -ms-user-select: none;
       -moz-user-select: none;
       -webkit-user-select: none;

     }

     #main-menu {
          display: none;
          position: absolute;
          background-color: white;
          border: 1px solid black;
          top: 200px;
          left: 0px;
          width: 100%;
          height: 310px;

     }

     #main-menu ul li {
          display: block;
          padding-left: 0px;
          text-align: right;
          border: 1px solid black;
     }

     #main-menu ul {
          padding-left: 0px;
          margin: 0px;
     }

     #main-menu ul li a {
          font-size: 40px;

     }

     #main {
          width: 100%;
     }

     #coverage-photo {
          width: 95%;
          margin-bottom: -85px;
          margin-left: 10px;
     }
     #mapLA,#mapV,#careerImg{
        display: none;

     }


}
